body{
    background-color: mediumaquamarine
}
.container {
    font-size: 15px;
    color: aliceblue;
    text-align: center
}

h3 {
    font-size: 35px;
    color: aliceblue;
    text-align: center

}

#farenheit{
    position: relative;
    top: 105px;
    left: 200px; 
    font-size: 70px;

}

#celsius{
    position: relative;
    bottom: 45px;
    right: 195px;
    font-size: 70px;
}
